<a href="https://colab.research.google.com/github/bernlkb/STQD6014-DataScience/blob/main/Week3_20231104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 03: If Statement**

In [2]:
# Exercise 1
cars = ['audi', 'bmw', 'subaru', 'toyota']

for i in cars:
    if i == 'bmw':
        print(i.upper())
    else:
        print(i.title())

Audi
BMW
Subaru
Toyota

In [4]:
# Exercise 2
requested_topping = 'cheese'

if requested_topping != 'anchovies':
    print('Hold the anchovies')
else:
    print('Bernard, please serve the anchovies fast!!!!')

Hold the anchovies

In [5]:
# Exercise 3
age_0 = 22
age_1 = 18

In [ ]:
# Checking using different condition
# age_0 < 21 and age_1 < 21 - FALSE
# age_0 < 21 or age_1 < 21 - TRUE
# age_0 >= 21 and age_1 >= 21 - FALSE
# age_0 >= 21 or age_1 >= 21 - TRUE
# age_0 >= 21 and age_1 >= 21 - FALSE

In [10]:
age_0 >= 21 and age_1 >= 21

False

# **A point of ponder :)**

In [15]:
# What would the following code evaluate to? True or False?
# and why?
age_0 and age_1 > 21

False

In [14]:
22 and True

True

In [18]:
# Exercise 4 - using the keyword 'in'
requested_topping = ['mushrooms', 'onions', 'pineapple']

# Check whether mushrooms is in the topping list
# case sensitive
'mushroom' in requested_topping

# Check whether pepperoni is in the topping list
'pepperoni' in requested_topping

False

In [30]:
# Exercise 5
banned_users = ['andrew', 'carolina', 'david']

# Check whether marie, 007 and andrew is in the banned user list
#user = 'marie'
user = 7
if user not in banned_users:
    print(str(user) + ", you can post a response if you wish")

#user = 'andrew'

7, you can post a response if you wish

In [35]:
# Try it yourself
# Try making sense of it
car = 'subaru'
print("Is car == 'subaru'? I predict True.")
print(car == "subaru") # this is a logical comparison; not printing string

print("\nIs car == 'audi'? I predict False")
print(car == 'audi') # this is a logical comparison; not printing string

Is car == 'subaru'? I predict True.
True

Is car == 'audi'? I predict False
False

In [ ]:
# If statement
age = 18

In [ ]:
# Given the if-elif-else statement
age = 55
if age < 4:
  print("Your admission rate is RM0.")
elif age < 18:
  print("Your admission rate is RM5.")
else:
  print("Your admission rate is RM10.")

Your admission rate is RM10.

In [ ]:
# Exercise 6 - Revising the previous code for a cleaner version
age = 67

In [ ]:
# Exercise 7 - end the code using elif for easier interpretation
age = 67

In [ ]:
# Exercise 8 - multiple if
requested_topping = ['mushrooms', 'extra cheese']

In [ ]:
# Exercise 9 - To check for special conditions / items
requested_toppings = ['mushrooms', 'extra cheese', 'green peppers']

In [ ]:
# Exercise 10 - Checking for a list that is empty
requested_toppings = []

In [ ]:
# Exercise 11 - Using multiple lists
available_toppings = ['mushrooms', 'olives', 'green peppers', 'pepperoni',
                      'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese', 'crab meat']

In [ ]:
# Exercise 12 - Accessing the value using the key in dictionary
alien_0 = {'color': 'green', 'points':5}

# get the alien's color

# get the alien's point

In [ ]:
# Start building the alien_0 dictionary from scratch

In [ ]:
alien_0

{'color': 'green', 'points': 5}

In [ ]:
# Exercise 13 - extract the value from the dictionary
# put in a variable called new_points
# Print out the value
alien_0 = {'color': 'green', 'points':5}

In [ ]:
# Exercise 14 - change the color value in the dictionary

# Print out the new color

In [ ]:
# Exercise 15 - change the value in the dictionary; using if-elif-else statement
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'fast'}

# Move the alien to the right.
# Determine how far to move the alien based on its current speed.

# The new position is the old position plus the increment.

In [ ]:
# Exercise 16 - using del() function
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

# Delete the points from the dictionary

In [ ]:
# Exercise 17 - break dictionary into several lines

In [ ]:
# Exercise 18 - print out the key-value pairs using item() function
# using the for function

Jen's favorite language is Python.
Sarah's favorite language is C.
Edward's favorite language is Ruby.
Phil's favorite language is Python.

In [ ]:
# Exercise 19 - print out the key-value pairs using key() function
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }

In [ ]:
# Exercise 20 - print out the key-value pairs using not in function
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }

In [ ]:
# Exercise 21 - Sort keys in order
# Print out the message thanking them to take the poll
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }

In [ ]:
# Exercise 22 - Sort values in order
# remove redundant value using set() function
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }

In [ ]:
range(30)

range(0, 30)

In [ ]:
# Exercise 23 - append new data into dictionary using function
# Make an empty list for storing aliens.
aliens = []

In [ ]:
# Exercise 24 - A list in the dictionary
# Store information about a pizza being ordered.
pizza = {
    'crust': 'thick',
    'toppings': ['mushrooms', 'extra cheese'],
    }

# Summarize the order.

In [ ]:
# Exercise 25 - a list in the dictionary

In [ ]:
# Exercise 26 - A dictionary in a dictionary

In [ ]:
# Exercise 27 - using input()

In [ ]:
# Exercise 28 - using int() to accept numerical input: True of False

In [ ]:
# Exercise 29 - using int()to accept numerical input and check for certain condition

In [ ]:
# Exercise 30 - The modulo operator to print message