<a href="https://colab.research.google.com/github/bernlkb/STQD6014-DataScience/blob/main/Week02_20231029.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week02: Python Basic**

In [ ]:
# Print the message
print('hello world')

hello world

In [ ]:
# Range
x = range(10)

# For loop
# mind the syntax -> space of four for subsequent line
for value in x:
    print(value ** 2)

0
1
4
9
16
25
36
49
64
81

# **Exercise 1: Multiplication**
Suppose you have RM100, which you can invest with a 10% return each year. After one year, it's 100×1.1=110 dollars, and after two years it's 100×1.1×1.1=121.

* Write a code to calculate how much money you end up with after 7 years
* print the result.

In [ ]:
# How much is our $100 worth after 7 years?
print(100 * 1.1 ** 7)

194.87171000000012

# **BMI calculation**

In [ ]:
# Information of height and weight
height = 1.75
weight = 67.3

# BMI calculation
BMI = weight / (height**2)

# BMI value
BMI

# What is the new BMI if now the weight is 74.7?
weight = 74.7
BMI = weight / (height**2)
BMI

24.39183673469388

# **Different Python type**

In [ ]:
# float type
type(BMI)

float

In [ ]:
# integer type
day_of_week = 5
type(day_of_week)

int

In [ ]:
# string type
x = "body mass index"
y = 'this works too'
type(x)
type(y)

str

In [ ]:
# boolean type
z = True
type(z)

bool

# **Different Python Data type = Different Behaviour**

In [ ]:
# Summation of numbers
2 + 3

5

In [ ]:
# Summation of strings
'ab' + 'cd'

'abcd'

# **Exercise 2: Python as calculator**

In [ ]:
# Create a variable savings
savings = 100

# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result
result = savings * growth_multiplier ** 7

# Print out result
print(result)

194.87171000000012

# **Exercise 3: String and boolean**

In [ ]:
# Create a variable desc
desc = "compound interest"

# Data type for desc
type(desc)

str

In [ ]:
# Create a variable profitable
profitable = True

# Data type of profitable
type(profitable)

bool

# **Exercise 4: Python data type**

In [ ]:
# Given the following data
a = 194.87171000000012
b = 'true'
c = False

In [ ]:
# Data type for variable a
type(a)

float

In [ ]:
# Data type for variable b
type(b)

str

In [ ]:
# Data type for variable c
type(c)

bool

# **Exercise 5: Python as arithmetic operator**

In [ ]:
# Given the following data
savings = 100
growth_multiplier = 1.1

In [ ]:
# Assign product of savings and growth_multiplier to year1
year1 =  growth_multiplier * savings

In [ ]:
# print out type of year1
print(type(year1))

<class 'float'>

In [ ]:
# Assign sum of desc and desc to doubledesc
# Given desc = "compound interest"
doubledesc = desc + desc

In [ ]:
# Print doubledesc
doubledesc

'compound interestcompound interest'

# **Exercise 6: Debugging the code**
The following code has error message.
Please help to fix it.

In [ ]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Print out the message
print("I started with $" + (savings) + " and now have $" + result + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
float(pi_string)

TypeError: ignored

#### **Fixing in ACTION!!!**

In [ ]:
# Definition of savings and result
result = 100 * 1.10 ** 7

# Fix the print out
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)

I started with $100 and now have $194.87171000000012. Awesome!

# **Which one of these will throw an error?**

In [ ]:
# Summation of string
"I can add integers, like " + str(5) + " to strings."

'I can add integers, like 5 to strings.'

In [ ]:
# Multiplication of string
"I said " + ("Hey " * 2) + "Hey!"

'I said Hey Hey Hey!'

In [ ]:
# This one has an error
"The correct answer to this multiple choice exercise is answer number "+2

TypeError: ignored

In [ ]:
# We can fix it
"The correct answer to this multiple choice exercise is answer number " + str(2)

'The correct answer to this multiple choice exercise is answer number 2'

In [ ]:
# True = 1 and False = 0
True + False

1

# **Python Lists**
A list in a square bracket, [ ]

In [ ]:
# Different data type in a list
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
type(fam)

list

In [ ]:
# A list in a list
fam2 = [["liz", 1.73],
        ["emma", 1.68],
        ["mom", 1.71],
        ["dad", 1.89]]
type(fam2)

list

# **Exercise 7: Creating a list**

In [ ]:
# Area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

# **Exercise 8: Adding name to a list**

In [ ]:
# Area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas - add name for each room
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom",bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

# **Select the valid list**

In [ ]:
# Example A
[1, 3, 4, 2]

[1, 3, 4, 2]

In [ ]:
# Example B
[[1, 2, 3], [4, 5, 7]]

[[1, 2, 3], [4, 5, 7]]

In [ ]:
# Example C
[1 + 2, "a" * 5, 3]

[3, 'aaaaa', 3]

# **Exercise 9: List**

In [ ]:
# Area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

# **Subsetting the lists**

In [ ]:
# Given the fam list from previous example
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [ ]:
# Emma's height
fam[3]

1.68

In [ ]:
# Using negative index to get Emma's height
fam[-5]

1.68

# **List slicing**

In [ ]:
# Given the fam list again
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [ ]:
# What would fam[3:5] give us?
fam[3:5]

[1.68, 'mom']

In [ ]:
# What would fam[1:4] give us?
fam[1:4]

[1.73, 'emma', 1.68]

In [ ]:
# What would fam[:4] give us?
fam[:4]

['liz', 1.73, 'emma', 1.68]

In [ ]:
# What would fam[5: ] give us?
fam[5:]

[1.71, 'dad', 1.89]

# **Exercise 10 : Indexing**

In [ ]:
# Given the areas list
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [ ]:
# Print out second element from areas
print(areas[1])

11.25

In [ ]:
# Print out last element from areas
print(areas[-1])

9.5

In [ ]:
# Print out the area of the living room
print(areas[5])

20.0

# **Exercise 11: combination of list subsetting and variable assignment**

In [ ]:
# Given the areas list
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [ ]:
# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[7]

# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

# **Exercise 12: Use slicing to create a list**

In [ ]:
# Given the areas list
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [ ]:
# Use slicing to create downstairs: first 6 elements of areas
downstairs = areas[0:6]
downstairs

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]

In [ ]:
# Use slicing to create upstairs: last 4 elements of areas
upstairs = areas[6:10]
upstairs

['bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
# Print out downstairs and upstairs
print(downstairs, upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0] ['bedroom', 10.75, 'bathroom', 9.5]

# **Exercise 13: Indexing again**

In [ ]:
# Given the areas list
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [ ]:
# Alternative slicing to create downstairs: omitting the beginning index
downstairs = areas[:6]
downstairs

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]

In [ ]:
# Alternative slicing to create upstairs: omitting the end index
upstairs = areas[6:]
upstairs

['bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
# Negative indexing for the last five elements
areas[-5:]

[20.0, 'bedroom', 10.75, 'bathroom', 9.5]

# **Subsetting lists of lists**

In [ ]:
# Given the following list
x = [["a", "b", "c"],
     ["d", "e","f"],
     ["g", "h", "i"]]

In [ ]:
# Example 1
x[2][0]

'g'

In [ ]:
# Example 2
x[2][:2]

['g', 'h']

In [ ]:
# Given the house variable from previous example
house

[['hallway', 11.25],
 ['kitchen', 18.0],
 ['living room', 20.0],
 ['bedroom', 10.75],
 ['bathroom', 9.5]]

In [ ]:
# subsetting house[-1][1]
house[-1][1]

9.5

In [ ]:
# Data type
type(house[-1][1])

float

# **Manipulating Lists**

In [ ]:
# Given the fam list
fam

['liz', 1.73, 1.68, 'mom', 1.71, 'dad', 1.89]

In [ ]:
# Change of dad's height
fam[-1] = 1.86
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]

In [ ]:
# Change of liz details
fam[:2] = ['lisa', 1.74]
fam

['lisa', 1.74, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]

# **Adding and removing elements in lists**

In [ ]:
# Given the items list
# We want to add additional ietms
items = ['cake', 'cookie', 'bread']
items + ['biscuit', 'tart']

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In [ ]:
# However, the items are not updates
items

['cake', 'cookie', 'bread']

In [ ]:
# Create a new list to store the newly added items
total_items = items + ['biscuit', 'tart']
print(total_items)

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In [ ]:
# Given the original fam list
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [ ]:
# A simple + sign would not add the data into the fam list permanently
fam + ["me", 1.7]
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [ ]:
# This would add the data into the list by assignning a new variable
fam_ext = fam + ["me", 1.79]
fam_ext

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.79]

In [ ]:
# Delete third element from fam list
del(fam[2])

In [ ]:
# Latest fam list - emma being removed
fam

['liz', 1.73, 1.68, 'mom', 1.71, 'dad', 1.89]

#### We can use the **<font color='red'>plus-equals operator += </font>** to provide a convenient way to add a value **<font color='red'>to an existing variable</font>** and assign the new value **<font color='red'>back to the same variable</font>**.

In [ ]:
# Given the original fam list
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]

# Use of the plus-equals operator +=
fam += ["me", 1.7]
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.7]

# **Exercise 14: Updating the list**

In [ ]:
# Given the areas list
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 9.5]

In [ ]:
# Update the bathroom area
areas[9] = 10.5

In [ ]:
# Change "living room" to "chill zone"
areas[4] = "chill zone"

In [ ]:
# Check the latest areas list
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

# **Exercise 15: Another example**

In [ ]:
# Given the original areas
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [ ]:
# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]
print(areas_1)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]

In [ ]:
# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

# **Quiz**

In [ ]:
# Given the areas
areas = areas_2[:]
print(areas)

# Output 1
del(areas[10]); del(areas[11])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 24.5, 15.45]

In [ ]:
# Given the areas
areas = areas_2[:]
print(areas)

# Output 2
del(areas[10:11])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 24.5, 'garage', 15.45]

In [ ]:
# Given the areas
areas = areas_2[:]
print(areas)

# Output 3
del(areas[-4:-2])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

In [ ]:
# Given the areas
areas = areas_2[:]
print(areas)

# Output 4
del(areas[-3]); del(areas[-4])
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 'poolhouse', 'garage', 15.45]

# **Your challenge**

In [ ]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

In [ ]:
# Create a copy by simply using equal sign
areas_copy = areas

# change the second element of areas_copy to 21.1
areas_copy[1] = 21.1

# print the areas_and areas_copy
print(areas, areas_copy)

[11.25, 21.1, 20.0, 10.75, 9.5] [11.25, 21.1, 20.0, 10.75, 9.5]

In [ ]:
# To preserve the original areas data and make changes to areas_copy only
areas_copy = areas[:]

# Now make the changes to second element in areas_copy to 40
areas_copy[1] = 40

# Print both areas and areas_copy
print(areas, areas_copy)

[11.25, 21.1, 20.0, 10.75, 9.5] [11.25, 40, 20.0, 10.75, 9.5]

# **Good Luck and see you all next week!</p>**